{% extends 'base.html.twig' %}

{% block title %}Unsubscribe{% endblock %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-xl-9 col-md-12">
            <div class="card mt-5">
                <div class="card-body">
                    <h1>Email Sent</h1>
                    <p>We have sent you an email to unsubscribe. Please follow the link in the email to finish removing your account.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
