{% extends 'emails/email_base.inky.twig' %}

{% block body %}
    <row>
        <columns>

            <spacer size="32"></spacer>

            <center>
                <img src="{{ email.image('@images/email/flag.png') }}" alt="BCN Flag">
            </center>

            <spacer size="16"></spacer>

            <h1 class="text-center">Forgot Your Password?</h1>

            <spacer size="16"></spacer>

            <p class="text-center">It happens. Click the link below to reset your password.</p>
            <spacer size="16"></spacer>
            <button class="large expand" href="{{ url('app_reset',{'id':passwordResetRequest.id}) }}">Reset Password</button>

        </columns>
    </row>
{% endblock %}
