body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    font-family: Helvetica, Arial, sans-serif;
}

/*h1 {*/
/*    background-color: #666666;*/
/*    color: #ffffff;*/
/*    !*padding: 30px 0 50px 0;*!*/
/*    font-weight: normal;*/
/*}*/

hr {
    border: none;
    border-top: 3px solid #666666;
    margin: 20px;
}

.logo {
    width: 100%;
}

.text-center {
    text-align: center;
}

table.button a {
    background-color: #666666;
}

table.button table td {
    background-color: #666666;
    border: 2px solid #666666;
}

.header {
    background-color: #666666;
    border: 2px solid #666666;
    padding-top: 20px;
}
