{% extends 'emails/email_base.inky.twig' %}

{% block body %}
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p>
                Welcome to <strong>Brough Creek National</strong> {{ user.firstName }}! You are Member
                Number {{ user.memberNumber }}. You can view your membership certificate by clicking the button below.
                It will eventually also be attached to this email.
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button href="{{ url('app_membership_certificate', { id : user.id }) }}">View Membership Certificate!
                </button>
            </center>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                Get more involved by creating a full account!
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button href="{{ url('app_register_subscriber', { id : user.id }) }}">Create a Full Account!</button>
            </center>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                We're so excited that you've decided to join us in our corner of the world!
                Feel free to check us out on any of the platforms below and reach out if you'd like to! We're always
                just a message away.
            </p>
        </columns>
    </row>
{% endblock %}
